
.cardVideoStyle {
    transition: box-shadow 0.3s ease;
    
}

.cardVideoStyle:hover {
    box-shadow: 0 4px 20px #4B1B19;
}

.btnDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}