.loginBody{
    width: 100vw;  
    height: 100vh; 
    margin: 0;     
    padding: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginBox {
    position: relative; /* Asegúrate de que el cuadro de login esté en el flujo normal */
    z-index: 2; /* Coloca el loginBox por encima de los fondos */
    background: white;
    width: 25vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

}

.inputText {
    width: 20vw !important;
    height: 5vh !important;
    margin: 10px !important;
}

.btnSubmit {
    width: 10vw !important;
    height: 5vh !important;
    margin: 10px !important;
    background: #4B1B19 !important;
    color: aliceblue !important;
}

.logo{
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #4B1B19 50%, white 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }